crewai==0.28.8
crewai-tools==0.1.7
langchain==0.1.20
langchain-cohere==0.1.5
langchain-community==0.0.38
langchain-core==0.1.53
langchain-groq==0.1.5
langchain-openai==0.1.7
langchain-text-splitters==0.0.2
python-dotenv==1.0.0
PyYAML==6.0.2
pyyaml_env_tag==0.1
python-decouple==3.8
sqlite3==3.50.1
